head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="HandheldFriendly" content="true")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="theme-color" content="#1b7bef")
    link(rel="apple-touch-icon" sizes="57x57"   href="")
    link(rel="apple-touch-icon" sizes="72x72"   href="")
    link(rel="apple-touch-icon" sizes="114x114" href="")
    link(rel="apple-touch-icon" sizes="144x144" href="")
    link(rel="icon" type="image/png" href="")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="../css/style.css")

    block title
    block script