//
// Buttons
//=========================================

.btn,
.content__data a.btn{
  display: inline-block;
  padding: 18px 17px;
  background-color: #fff;
  border: 2px solid $plane-color;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  color: $plane-color;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all $hover-timing;
}
.btn:hover,
.content__data a.btn:hover{
  background-color: $plane-color;
  color: #fff ;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
  transition: all $hover-timing;
  text-decoration: none;
}
.link-to{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 28px;
  color: #000;
  font-weight: 900;
  // text-transform: uppercase;
  letter-spacing: 0.6px;
  text-decoration: none;
  transition: border-bottom $hover-timing;
}
.btn.btn--inverse{
  background-color: $active;
}
.btn.btn--inverse:hover{
  background-color: #687684;
}
.link-to:hover{
  border-bottom-color: #000;
  transition: border-bottom $hover-timing;
}
.btn.btn--brd{
  background-color: #fff;
  border: 2px solid $active;
  color: #000;

  &:hover{
    background-color: $active;
    color: #fff;
  }
}
