.section-materials {
	padding-bottom: 0 !important;
}

.person {
	margin-bottom: 40px;

	@include breakpoint(large) {
		margin-bottom: 70px;
	}

	.b-image {
		border-radius: 50%;
		margin-bottom: 30px;
	}

	.person-info {
		h5 {
			line-height: 24px;
			font-weight: 700;
			margin: 0;
		}

		p {
			font-size: 14px;
			line-height: 24px;

			a {
				color: $black;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.person-text {
	font-style: italic;
	margin-bottom: 40px;

	@include breakpoint(large) {
		margin-bottom: 70px;
	}

	p {
		margin-bottom: 20px;
	}
}

.litigation {
	background: $white;
	text-align: center;
	padding: 55px 20px;
	border-radius: 4px;
	margin-bottom: 40px;

	@include breakpoint(large) {
		padding: 55px;
		margin-bottom: 70px;
	}

	.b-image {
		margin-bottom: 50px;
	}

	.b-text {
		h5 {
			font-weight: 700;
			margin: 0;

			a {
				color: $black;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}