.footer {

}

.site-footer-bottom {
	border-top: 1px solid #c6cdd3;
	padding: 35px 0;

	p {
		margin: 0;
		font-size: 12px;
		line-height: 18px;
	}
}

.site-footer_inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 60px;

	@include breakpoint(medium) {
		flex-direction: row;
	}
}

.footer-link {
	display: flex;
	align-items: center;
	margin-bottom: 40px;

	@include breakpoint(medium) {
		margin-right: 70px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.link-image {
		min-width: 140px;
		margin-right: 20px;

		@include breakpoint(medium) {
			min-width: auto;
			margin-right: 35px;
		}
	}

	.link-text {
		font-size: 12px;
		line-height: 16px;
		text-decoration: underline;
		color: #687684;
		max-width: 150px;
		
		&:hover {
			text-decoration: none;
		}
	}
}