section.intro-section.has-background(style='background-image: url(../images/bg-intro.jpg)')
    .row.align-center
        .small-12.large-8.columns
            .site-sharing
                ul.feed__list
                    li
                        span.feed__list-link.icon-facebook
                    li
                        span.feed__list-link.icon-twitter
                    li
                        a(href="mailto:?subject=document.title&body=", rel="nofollow").feed__list-link.icon-mail
            .intro-title
                h1 Уникальное торговое предложение по отдельным видам услуг
            .intro-text
                p Книга о создании условий повышения стрессоустойчивости. Полезна юристами, практикующим литигаторам и интересующимся методами управления стрессом
            .intro-bottom
                a(href='#').btn.btn--brd Узнать больше