section
    .row
        .small-24.columns
            .isotope-filter
                ul.tabs.tab-list
                    li.tab-item.active(data-filter='.projects'): a(href='#') Проекты
                    li.tab-item(data-filter='.books'): a(href='#') Книги
                    li.tab-item: a(href='#') Статьи
                    li.tab-item: a(href='#') Видео
    .masonry-wrap.section-white.section
        .masonry-overflow
            .row.masonry
                .small-12.medium-6.large-4.columns.masonry-item.projects
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-1.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--pen(href="articles.html", rel="nofollow")

                                //- a.story__title(href="articles.html") Корпоративное право
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label События
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность
                            a.article__source(href="#")
                                img.article__source-img(src="../uploads/articles/logo.jpg")
                                span.article__source-link www.the-village.ru

                .small-12.medium-6.large-4.columns.masonry-item.books
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-2.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Управление коммуникацией
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

                .small-12.medium-6.large-4.columns.masonry-item.projects
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-2.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Управление коммуникацией
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

                .small-12.medium-6.large-4.columns.masonry-item.books
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-1.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--pen(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Корпоративное право
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность
                            a.article__source(href="#")
                                img.article__source-img(src="../uploads/articles/logo.jpg")
                                span.article__source-link www.the-village.ru

                .small-12.medium-6.large-4.columns.masonry-item.books
                    article.blocks__article
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Корпоративное право
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность
                            a.article__source(href="#")
                                img.article__source-img(src="../uploads/articles/logo.jpg")
                                span.article__source-link www.the-village.ru

                .small-12.medium-6.large-4.columns.masonry-item.projects
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-2.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Управление коммуникацией
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

                .small-12.medium-6.large-4.columns.masonry-item.books
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-2.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Управление коммуникацией
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

                .small-12.medium-6.large-4.columns.masonry-item.projects
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-2.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Управление коммуникацией
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

                .small-12.medium-6.large-4.columns.masonry-item.books
                    article.blocks__article
                        .article__top
                            .article__top-picture
                                img(src="../uploads/articles/article-2.jpg" alt='pic')
                            a.article__top-link(href="article.html", rel="nofollow")
                            a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                        .article__bottom
                            .story-top
                                time.story__time Вчера, 12:00
                                a(href='#').label Управление коммуникацией
                            h3.article__title
                                a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

        .article-loaders
            img(src="../images/loader.svg")
        .more-center.text-center
            a.btn(href="#")#btn-more-articles загрузить еще