section#materials.section.section-materials
	.row
		.small-12.columns
			.section-title.text-center
				h2 Я знаю как использовать эти ресурсы
	.row
		.small-12.medium-6.large-3.columns
			.person
				.b-image
					img(src="../images/photo.png", alt="pic")
				.person-info
					h5 Дмитрий Галанцев,
					p руководитель #[a(href="#") Института специальной психологии и бизнес-консалтинга], партнер #[a(href="#") МГКА Русский Домъ Права], эксперт #[a(href="#") Что делать Консалт]
		.small-12.medium-6.large-5.columns
			.person-text
				p В последнее время модно говорить о стрессе. Интернет, газеты, телевидение – пестрят советами о том как его преодолеть, насколько он вреден и насколько хороша жизнь, когда его нет… Тренинги по развитию навыков стрессоустойчивости бьют рекорды посещаемости… Словосочетание stress management прочно вошло в наш лексикон. Однако, несмотря на это, стресса в жизни россиян меньше не стало…Косвенным свидетельством этому выступает «почетное» первое место по смертности от сердечно-сосудистых заболеваний, занимаемое Россией.Статистика выглядит просто фантастически: из 100 тысяч человек только от инфаркта миокарда в России ежегодно умирают 330 мужчин и 154 женщины, а от инсультов - 204 мужчины и 151 женщина. 
				.person-sign
					img(src="../images/sign.jpg", alt="sign")
		.small-12.medium-12.large-4.columns
			.litigation
				.b-image
					img(src="../images/litigation.png", alt="pic")
				.b-text
					h5 Московская городская коллегия адвокатов #[a(href="#") «Русский Домъ Права»]
					p оздана для: правовой защиты бизнеса, имущественных и интеллектуальных прав
