section#resources.section
    .row
        .small-12.columns
            .section-title.text-center
                h2 Наши ресурсы помогут решить эти проблемы

    
    .tab-wrapper.resources-tabs.row
        .tab-list.small-12.large-6.columns
            include ../../images/visual-all.svg
        .tab-content.small-12.large-6.columns
            .tab-item(data-tab='money')
                h3 Деньги
                p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. Сегодня мы с уверенностью можем заявить о себе как о профессионалах в практической цивилистике. Подтверждением тому служат сотни проведенных нами дел в арбитражных судах и судах общей юрисдикции по всей России
            .tab-item(data-tab='expert')
                h3 Экспертность
                p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. Сегодня мы с уверенностью можем заявить о себе как о профессионалах в практической цивилистике. Подтверждением тому служат сотни проведенных нами дел в арбитражных судах и судах общей юрисдикции по всей России
            .tab-item(data-tab='experience')
                h3 Опыт
                p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. Сегодня мы с уверенностью можем заявить о себе как о профессионалах в практической цивилистике. Подтверждением тому служат сотни проведенных нами дел в арбитражных судах и судах общей юрисдикции по всей России

