section#results.section.section-dark.section-results.has-background(style='background-image: url(../images/bg-results.jpg)')
	.row
		.small-12.columns
			.section-title.text-center
				h2 В результате вы достигнете
	.row.align-center
		.small-12.columns
			article.grid-item.col-2
				.grid-item--left
					.grid-item-content
						h3 Сделаете первый шаг в вашем деле и позволите эффекту Зейгарник помочь вам завершить его
				.grid-item--right
					.grid-item-content
						p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики.
		.small-12.columns
			article.grid-item.col-2
				.grid-item--left
					.grid-item-content
						h3 Используете инструменты для управления проектами, чтобы чётко представлять, что нужно сделать, и всегда быть сосредоточенным
				.grid-item--right
					.grid-item-content
						p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики.Сегодня мы с уверенностью можем заявить о себе как о профессионалах в практической цивилистике. Подтверждением тому служат сотни проведенных нами дел в арбитражных судах и судах общей юрисдикции по всей России
		.small-12.columns
			article.grid-item.col-2
				.grid-item--left
					.grid-item-content
						h3 Отследите свои раздражители и преобразуете их в позитивные привычки.
				.grid-item--right
					.grid-item-content
						p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. Сегодня мы с уверенностью можем заявить о себе как о профессионалах в практической цивилистике. 
		.small-12.columns
			article.grid-item.col-2
				.grid-item--left
					.grid-item-content
						h3 Начнете использовать правило 90 минут
				.grid-item--right
					.grid-item-content
						p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. 
		.small-12.columns
			article.grid-item.col-2
				.grid-item--left
					.grid-item-content
						h3 Расставите приоритеты и начнете работу над наиболее важными задачами
				.grid-item--right
					.grid-item-content
						p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. 
