section#resolutions.section
	.row
		.small-12.columns
			.section-title.text-center
				h2 Варианты решения этих проблем
	.row.align-center.numeric-grid
		.small-12.medium-6.large-3.columns.numeric-grid-item
			article.grid-item
				h3 Сделайте первый шаг
				p Вовлеченность команды коллегии в разрешение бизнес-конфликтов наших клиентов предопределяет возникновение между нами особого рода личных доверительных отношений
		.small-12.medium-6.large-3.columns.numeric-grid-item
			article.grid-item
				h3 Используйте матрицу решений
				p Собранные в ходе доследственной проверки либо в ходе предварительного следствия материалы нередко ложатся в основу судебных актов по цивилистическому спору, и им дается гражданско-правовая оценка.
		.small-12.medium-6.large-3.columns.numeric-grid-item
			article.grid-item
				h3 Подумайте, есть ли зависимость между задачами
				p Проектная практика подразумевает комплексное сопровождение правового проекта
		.small-12.medium-6.large-3.columns.numeric-grid-item
			article.grid-item
				h3 Расставляйте приоритеты
				p Споры о правах на недвижимость и сопровождение сделок с недвижимым имуществом – профильное направление деятельности коллегии наряду с ведением корпоративных конфликтов