section#testimonials.section
	.row
		.small-12.columns
			.section-title.text-center
				h2 Победа моих клиентов — наша общая победа
	.row
		.small-12.columns
			.testimonial-slider
				.slide-item
					.row.align-center
						.small-12.large-10.columns
							.row.testimonial-row.align-center
								.small-6.medium-3.large-2.medium-order-1.large-order-0.columns
									.testimonial-link.popup-link
										a(href="../uploads/testimonials/1.jpg" data-sub-html=".caption")
											img(src='../uploads/testimonials/1.jpg' alt='pic')
											.caption
												.testimonial-author
													img(src="https://dummyimage.com/60x60/000/fff", alt="pic")
													.author-name
														h4 Оскар Щукин
														p Социальный технолог, бизнес-тренер
								.small-12.medium-9.large-8.medium-order-0.large-order-1.columns
									.testimonial-text
										p Конечно, определенную роль здесь играют генетика, невысокий (по сравнению с развитыми европейскими странами и США) уровень медицинского обслуживания, отсутствие денег на нужные лекарства и знаменитый Российский пофигизм. Однако, немалую (а, порой, и основную) роль играет сфера профессиональной деятельности. 
									.testimonial-author
										img(src="https://dummyimage.com/60x60/000/fff", alt="pic")
										.author-name
											h4 Оскар Щукин
											p Социальный технолог, бизнес-тренер
				.slide-item
					.row.align-center
						.small-12.large-10.columns
							.row.testimonial-row.align-center
								.small-6.medium-3.large-2.medium-order-1.large-order-0.columns
									.testimonial-link.popup-link
										a(href="../uploads/testimonials/1.jpg" data-sub-html=".caption")
											img(src='../uploads/testimonials/1.jpg' alt='pic')
											.caption
												.testimonial-author
													img(src="https://dummyimage.com/60x60/000/fff", alt="pic")
													.author-name
														h4 Оскар Щукин
														p Социальный технолог, бизнес-тренер
								.small-12.medium-9.large-8.medium-order-0.large-order-1.columns
									.testimonial-text
										p Конечно, определенную роль здесь играют генетика, невысокий (по сравнению с развитыми европейскими странами и США) уровень медицинского обслуживания, отсутствие денег на нужные лекарства и знаменитый Российский пофигизм. Однако, немалую (а, порой, и основную) роль играет сфера профессиональной деятельности. 
									.testimonial-author
										img(src="https://dummyimage.com/60x60/000/fff", alt="pic")
										.author-name
											h4 Оскар Щукин
											p Социальный технолог, бизнес-тренер