section#whynot.section.section-white
	.row
		.small-12.columns
			.section-title.text-center.no-border
				h2 Почему проблемы еще не решены?
	.row
		.small-12.medium-6.large-3.columns
			article.grid-item.marked
				h3 Отсутствие денег
		.small-12.medium-6.large-3.columns
			article.grid-item.marked
				h3 Недостаток знаний
		.small-12.medium-6.large-3.columns
			article.grid-item.marked
				h3 Отстутствие опыта
		.small-12.medium-6.large-3.columns
			article.grid-item.marked
				h3 Мало вермени