header.site-header
    .site-logo
        a(href='#'): img(src='../images/logo1.png' alt='logo')
        a(href='#'): img(src='../images/logo2.png' alt='logo')
    nav.site-nav
        ul
            li: a(href='#') проблема
            li: a(href='#') решение
            li: a(href='#') Цели
            li: a(href='#') Что мешает
            li: a(href='#') НАши ресурсы
            li: a(href='#') Материалы
            li: a(href='#') Отзывы
            li: a(href='#') Контакты
    .menu-button
        .sandwich
            .sw-topper
            .sw-bottom
            .sw-footer
    .site-tel
        a(href='tel:+74952152149') +7 (495) 215-21-49
