header.site-header
    .site-logo
        a(href='#'): img(src='../images/logo1.png' alt='logo')
        a(href='#'): img(src='../images/logo2.png' alt='logo')
    nav.site-nav
        .nav-wrapper
            ul
                li: a(href='#problems') проблема
                li: a(href='#resolutions') решение
                li: a(href='#results') Цели
                li: a(href='#whynot') Что мешает
                li: a(href='#resources') НАши ресурсы
                li: a(href='#materials') Материалы
                li: a(href='#testimonials') Отзывы
                li: a(href='#contacts') Контакты
    .menu-button
        .sandwich
            .sw-topper
            .sw-bottom
            .sw-footer
    .site-tel
        a(href='tel:+74952152149') +7 (495) 215-21-49
