footer.site-footer
		.row
			.small-12.columns
				.site-footer_inner
					a(href='#').footer-link
						.link-image
							img(src='../images/footer-link1.png' alt='pic')
						.link-text.
							Перейти на личный сайт
							Дмитрия Галанцева
					a(href='#').footer-link
						.link-image
							img(src='../images/footer-link2.png' alt='pic')
						.link-text.
							Перейти на сайт
							МГКА “Русский Домъ Права”
				.site-footer-bottom.text-center
					p © 2017. Все права защищены.
					p Использование материалов размещенных на сайте только со ссылкой на оригинал