extends templates/pageTemplate

block tmpVars
    - var bodyClass = 'home-page';

block title
    title Site title

block script
    script(type='text/javascript').
        var vars = {
            ajaxUrl: "",
            page: 'home_page'
        };

block content
    main.site-main.content-width
        .row
            .small-12.medium-6.large-4.columns
                article
                    h3 Свобода
            .small-12.medium-6.large-4.columns
                article
                    h3 Эффективность
            .small-12.medium-6.large-4.columns
                article
                    h3 Обязательства
        .row
            .tab-list
                include ../images/visual-all.svg
            .tab-content
                #money.tab-item
                    h2 Деньги
                    h3 Гибкая система финансирования
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa numquam maiores magnam corrupti veritatis. Nesciunt in iure eveniet distinctio alias labore, perferendis, dicta necessitatibus suscipit ducimus adipisci, aliquid odit doloribus.
                #expert.tab-item
                    h2 Экспертность
                    h3 Публикации, выступления и книги
                    p Ежедневная, повседневная и, порой, рутинная работа в избранной области – ведения гражданских споров – позволила нам набрать тысячи часов практики. Сегодня мы с уверенностью можем заявить о себе как о профессионалах в практической цивилистике. Подтверждением тому служат сотни проведенных нами дел в арбитражных судах и судах общей юрисдикции по всей России
                #experience.tab-item
                    h2 Опыт
                    h3 Реализованные проекты
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa numquam maiores magnam corrupti veritatis. Nesciunt in iure eveniet distinctio alias labore, perferendis, dicta necessitatibus suscipit ducimus adipisci, aliquid odit doloribus.

